<div class="container-fluid pt-3">
  <div class="design-doku">
    <div class="card w-100">
      <div class="card-body">
        <h3 class="font-weight-bolder">DOKU design with Figma</h3>
        <p>
          Considering their flexibility and efficiency, we use Figma as our design tools,
          with figma we can, do -
        </p>
        <ul>
          <li>Prototyping</li>
          <li>Built-in Commenting</li>
          <li>Developer Handoff</li>
          <li>Version Control</li>
          <li>Multiplayer Collaboration</li>
          <li>Components Library</li>
          <li>Team Libraries</li>
        </ul>
        <div>
          <h4 class="font-weight-bolder">Working with Figma</h4>
          <p>To work with doku design in Figma, open this link for Guide line <a
              href="http://confluence.doku.com/display/UIUXTeam/DOKU+UI+Design+System">Doku Figma</a> </p>
        </div>
      </div>
    </div>
  </div>
</div>
