$white:    #FFFFFF !default;  //WHITE
$black:    #000000 !default;  //BLACK

$gray-050: #FAFAFA !default;
$gray-100: #E6E6E6 !default;
$gray-200: #CCCCCC !default;
$gray-300: #B3B3B3 !default;
$gray-400: #999999 !default;
$gray-500: #808080 !default;
$gray-600: #666666 !default;
$gray-700: #4D4D4D !default;
$gray-800: #333333 !default;
$gray-900: #1A1A1A !default;

$red-100:  #FFD8CD !default;
$red-200:  #FFB19E !default;
$red-300:  #F98A71 !default;
$red-400:  #EE5F46 !default;
$red-500:  #E1251B !default;
$red-600:  #C8251B !default;
$red-700:  #AF251B !default;
$red-800:  #96251B !default;
$red-900:  #7D251B !default;

$tosca-100:  #C5EDE9 !default;
$tosca-200:  #86DBD5 !default;
$tosca-300:  #26C9C1 !default;
$tosca-400:  #00B5AE !default;
$tosca-500:  #00A19B !default;
$tosca-600:  #00827D !default;
$tosca-700:  #00726E !default;
$tosca-800:  #006461 !default;
$tosca-900:  #005B57 !default;

$yellow-100:  #FFE7D4 !default;
$yellow-200:  #FFD1AA !default;
$yellow-300:  #FFBA81 !default;
$yellow-400:  #FEA458 !default;
$yellow-500:  #F88D2B !default;
$yellow-600:  #E68528 !default;
$yellow-700:  #DA7B23 !default;
$yellow-800:  #D0711E !default;
$yellow-900:  #C66719 !default;

.bg-gradient-red{
    background: linear-gradient(to right, #F98A71, #fe7096) !important;
}

.bg-gradient-yellow{
    background: linear-gradient(to right, #FFBA81, #FEA458 99%) !important;
}

.bg-gradient-green{
    background: linear-gradient(to right, #26C9C1, #00A19B) !important;
}

$primary:       $red-500 ;
$secondary:     $gray-600 ;
$success:       $tosca-500 ;
$info:          $gray-300 ;
$warning:       $yellow-500 ;
$danger:        $red-700 ;
$light:         $gray-100 ;
$dark:          $gray-800 ;