<div class="row p-4">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h3>
          Loaders
        </h3>
        <p>
          DOKUs' “spinners” can be used to show the loading state in your projects. They’re built only with HTML and
          CSS,
          meaning you don’t need any JavaScript to create them. You will, however, need some custom JavaScript to toggle
          their visibility.
          Their appearance, alignment, and sizing can be easily customized with our amazing utility classes.

        </p>

        <blockquote></blockquote>
      </div>
    </div>

    <div class="row my-2">

      <div class="col-12 dk-card">
        <h5>Loader Example</h5>
        <div class="row">
          <div class="col-12">
            <div class="spinner-border" style="width: 5rem; height: 5rem; color: red;" role="status">
              
            </div>
            <span class="">Loading...</span>
          </div>
          <div class="col-12">
            <pre><code class="language-html">{{codeCircularLoading}}</code></pre>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-2">
      <div class="col-12 dk-card">
        <h5>Skeleton Loading</h5>
        <div class="row">
          <div class="col-3">
            <div class="movie--isloading">
              <div class="loading-image"></div>
              <div class="loading-content">
                <div class="loading-text-container">
                  <div class="loading-main-text"></div>
                  <div class="loading-sub-text"></div>
                </div>
                <div class="loading-btn"></div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="movie--isloading">
              <div class="loading-image"></div>
              <div class="loading-content">
                <div class="loading-text-container">
                  <div class="loading-main-text"></div>
                  <div class="loading-sub-text"></div>
                </div>
                <div class="loading-btn"></div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="movie--isloading">
              <div class="loading-image"></div>
              <div class="loading-content">
                <div class="loading-text-container">
                  <div class="loading-main-text"></div>
                  <div class="loading-sub-text"></div>
                </div>
                <div class="loading-btn"></div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="movie--isloading">
              <div class="loading-image"></div>
              <div class="loading-content">
                <div class="loading-text-container">
                  <div class="loading-main-text"></div>
                  <div class="loading-sub-text"></div>
                </div>
                <div class="loading-btn"></div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <pre><code class="language-html">{{codeSkeletonLoading}}</code></pre>
          </div>
        </div>
      </div>
    </div>
