<!--  -->
<!-- Always start with element class row  -->
<div class="row">
  <div class="card">
    <div class="card-body">
      <h1>Buttons</h1>
      <p>
        Buttons allow users to perform an action or to navigate to another page. They have multiple styles for various
        needs, and are ideal for calling attention to where a user needs to do something in order to move forward in a
        flow.
      </p>
    </div>
  </div>
</div>

<div class="row ">
  <div class="card w-100">
    <div class="card-body ">
      <ngb-tabset [destroyOnHide]="false">
        <ngb-tab title="Design">
          <ng-template ngbTabContent>
            <div class="pt-3">
              <h4>Guidance</h4> 
              <p class="mt-2">
                Buttons should indicate an action. Button labels express what action will occur when the user interacts
                with it. <br>
                They should be discoverable, easy to identify, and specific. <br>
                Primary button always appear to the right and secondary appear to left of primary button. <br>
                Always have a text label within the button container. Icons are optional. <br>
                Make Buttons look and feel clickable. <br>
                If using multiple Buttons, style and label them distinctly. <br>
              </p>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Code</ng-template>
          <ng-template ngbTabContent>
            <div class="row my-2">
              <div class="col-12 dk-card">
                <h5>Button Group</h5>

                <button type="button" class="btn btn-outline-primary">Primary</button>
                <button type="button" class="btn btn-outline-secondary">Secondary</button>
                <button type="button" class="btn btn-outline-success">Success</button>

                <div class="code">
                  <pre><code class="language-html">{{codeButtonGroup}}</code></pre>
                </div>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-12 dk-card">
                <h5>Button Text + Icon</h5>
                <button type="button" class="btn dk-btn-primary" color="primary" mdbWavesEffect>
                  Delete
                  <i class="fas fa-trash-alt"></i>
                </button>
                <button type="button" class="btn dk-btn-success" color="secondary" mdbWavesEffect>
                  Approve
                  <i class="fas fa-check"></i>
                </button>
                <button type="button" class="btn dk-btn-warning" color="secondary" mdbWavesEffect>
                  Edit
                  <i class="fas fa-pen"></i>
                </button>

                <div class="code">
                  <pre><code class="language-html">{{codeButtonBasic}}</code></pre>
                </div>
              </div>
            </div>

            <div class="row my-2">
              <div class="col-12 dk-card">
                <h5>Button Group</h5>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn dk-btn-primary">Left <i class="fas fa-check"></i></button>
                  <button type="button" class="btn dk-btn-primary">Middle</button>
                  <button type="button" class="btn dk-btn-primary">Right</button>
                </div>
                <div class="code">
                  <pre><code class="language-html">{{codeButtonGroup}}</code></pre>
                </div>
              </div>
            </div>

          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
