<div class="row p-4">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h3>
          Buttons
        </h3>
        <p>
          Use DOKUs' custom button styles for actions in forms, dialogs, and more with support for multiple sizes,
          states, and more.

        </p>
       
        <blockquote></blockquote>
      </div>
    </div>

    <div class="row">
      <div class="col-12 dk-card">
        <h5>Button Basic</h5>
      
        <div class="code">
          <pre><code class="language-html">{{codeButtonBasic}}</code></pre>
        </div>
      </div>
    </div>

    <div class="row my-2">
      <div class="col-12 dk-card">
        <h5>Button Group</h5>

        <button type="button" class="btn btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-outline-secondary">Secondary</button>
        <button type="button" class="btn btn-outline-success">Success</button>

        <div class="code">
          <pre><code class="language-html">{{codeButtonGroup}}</code></pre>
        </div>
      </div>
    </div>

    <div class="row my-2">
      <div class="col-12 dk-card">
        <h5>Button Text + Icon</h5>
        <button type="button" class="btn dk-btn-primary" color="primary" mdbWavesEffect>
          Delete
          <i class="fas fa-trash-alt"></i>
        </button>
        <button type="button" class="btn dk-btn-success" color="secondary" mdbWavesEffect>
          Approve
          <i class="fas fa-check"></i>
        </button>
        <button type="button" class="btn dk-btn-warning" color="secondary" mdbWavesEffect>
          Edit
          <i class="fas fa-pen"></i>
        </button>

        <div class="code">
          <pre><code class="language-html">{{codeButtonBasic}}</code></pre>
        </div>
      </div>
    </div>

    <div class="row my-2">
      <div class="col-12 dk-card">
        <h5>Button Group</h5>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn dk-btn-primary">Left <i class="fas fa-check"></i></button>
          <button type="button" class="btn dk-btn-primary">Middle</button>
          <button type="button" class="btn dk-btn-primary">Right</button>
        </div>
        <div class="code">
          <pre><code class="language-html">{{codeButtonGroup}}</code></pre>
        </div>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-12 dk-card">
        <!-- Basic dropdown -->
        <div class="row">
          <div class="col-md-6">
            <div class="md-form md-outline input-with-post-icon timepicker" twelvehour="true">
              <input type="text" id="light-version-examples" class="form-control" placeholder="Select time">
              <label for="light-version-examples">Light version, 12hours</label>
              <i class="fas fa-envelope input-prefix"></i>
            </div>
          </div>
        
          <div class="col-md-6">
            <div class="md-form md-outline input-with-post-icon timepicker" darktheme="true">
              <input type="text" id="dark-version-example" class="form-control" placeholder="Select time">
              <label for="dark-version-example">Dark version, 24 hours</label>
              <i class="fas fa-envelope  input-prefix"></i>
            </div>
          </div>
        </div>
        <!-- Basic dropdown -->
      </div>
    </div>

    <!-- <ngb-accordion #acc="ngbAccordion">
      <ngb-panel id="toggle-1" title="First panel">
        <ng-template ngbPanelContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
          sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
          labore sustainable VHS.
        </ng-template>
      </ngb-panel>
      <ngb-panel id="toggle-2" title="Second">
        <ng-template ngbPanelContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
          sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
          labore sustainable VHS.
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
    
    <hr/>
    
    <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-1')">Toggle first</button>
    <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-2')">Toggle second</button>


    <div class="row">
      <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="static-1" title="Simple">
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2">
          <ng-template ngbPanelTitle>
            <span>&#9733; <b>Fancy</b> title &#9733;</span>
          </ng-template>
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-3" title="Disabled" [disabled]="true">
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div> -->

  </div>
</div>
