<div class="d-flex ">
  <div class="card m-auto w-75">
    <div class="card-body ">
      <h4 class="font-weight-bolder">Products in DOKU should follow these principles <br> to achive pleasant  and seamless user experience</h4>
      <div class="d-flex justify-content-between mt-5 principles">
        <div class="col">
          <i class="fas fa-egg"></i>
          <h4>Fast</h4>
          <p>Emphasize simplicity and not overcomplicate things</p>
        </div>
        <div class="col">
          <i class="fas fa-search"></i>
          <h4>Clear</h4>
          <p>Messages are to be delivered as clear as possible, not to make any confusions</p>
        </div>
        <div class="col">
          <i class="fas fa-pencil-ruler"></i>
          <h4>Authentic</h4>
          <p>More human touch, less rigid machine-like interaction</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card p-3">
  <button class="btn btn-success" (click)="showSuccess('sukses nih gan')" ngbTooltip="Will disappear in 10s">Success toast</button> <br>
  <button class="btn btn-danger" (click)="showDanger()" ngbTooltip="Will disappear in 10s">Error toast</button>
  

</div> 

<dk-toast aria-live="polite" aria-atomic="true"></dk-toast>
